<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Навигация</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/" routerLinkActive="active">Comment checker</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a routerLink="/keywords" routerLinkActive="active">Ключевые слова</a></li>
        <li><a routerLink="/groups" routerLinkActive="active">Группы</a></li>
        <li><a routerLink="/urls" routerLinkActive="active">URLs</a></li>
        <li><a routerLink="/report" routerLinkActive="active">Отчет</a></li>
        <li><a routerLink="/settings" routerLinkActive="active">Настройки</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<div class="container">
  <div>
    <router-outlet></router-outlet>
  </div>
</div>

<router-outlet name="error"></router-outlet>
