<div>
  <p>
    Добавить новую:
  </p>

  <div>
    <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="groupLabel">Название</label>
      <input type="text" [(ngModel)]="groupName" name="groupName" class="form-control" id="groupLabel" placeholder="Навание группы">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-default">Добавить</button>
    </div>
    </form>
  </div>

</div>

<error-alert [errors]="errors" [title]="'Ошибка создания группы'"></error-alert>
